.Section {
    margin-top: 20px;
    padding: 0 1em; 

    .title {
        font-family: Nunito;
        font-weight: bold;
        font-size: 18px;
        color: #211c70;
    }

    .categoriesContainer{
        width: 100%;
        overflow: hidden;
        display: flex;
        justify-content:center;
    }
}

.recomendedContainer {
    display: flex;
    overflow-x: scroll ;
    gap: 1em;
    .product-card {
        padding: 1em 0; 
        min-width: 98px;
        border-radius:8px;
    }
}


footer {
    
   
    margin-top:.5em;
    width: 100%;
    height: 2.5rem;
    box-sizing: border-box;

}

.cardProduct{

    margin-top:10px;
}