.cardImg {
    
    border-radius: var(--border-radius);
    position: relative;
    color: white;
    font-family: Nunito;
    box-shadow: var(--box-shadow);
    margin-bottom: 16px;


    &--title {
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        margin: 0;
    }
    &__downleft {
        bottom: 10px;
        left: 15px;
        position: absolute;
    }
    &__downright {
        bottom: 10px;
        right: 15px;
        position: absolute;
    }
    &--subtile {
        font-style: normal;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }
    &--subtile1 {
        font-style: normal;
        font-size: 14px;
        font-weight: bold;
        margin: 0;
    }
    &__categorylink {
        background-image: url("../images/bebidas.png");
        background-size: cover;
        width: 327px;
        height: 92px;
    }
    &__retaillink {
        background: url("../images/exito.png");
        background-size: cover;
        width: 327px;
        height: 150px;
    }
}