.chooseMarket{
    width: 375px;
    height: 812px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F3F3F3;

    &__header{

        background-color:var(--second-background);
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);
        padding: 20px;

    }

    &__info{
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title{
        margin: 0;
        font-family: Nunito;
        font-style: normal;
        font-weight: bold;
        font-size: 18px;
        color: var(--second-color);
    }

    &__text{
        margin: 0;
        font-family: Nunito;
        font-style: normal;
        font-size: 12px;
        color: var(--main-color);
    }

    &__containerSelect{

        display: flex;
        margin-top: 10px;
    }

    &__margin{

        margin-left: 15px;
    }

    &__content{

        margin-top: 20px;
    }

    &__market{
        margin-top: 20px;
       
    }

    &__paddingCard{

        padding: 8px;
    }
}