.community-list {
    background: rgb(224, 232, 253);
    width: 100%;
    color: var(--main-color);
    font-family: Nunito;
    font-weight: bold;
    border-radius: 8px;
    box-shadow: var(--box-shadow); 
    padding: .5em;
    &-info {
        display: flex;
        align-items: center;
        width: 100%;
    }

    &-title {
        font-size: 20px;
        padding: 0.5rem;
    }
   
    &-user {
        
        font-weight: normal;
        font-size: 12px;
        margin-left: 0.5rem;
    }
    &-products {
        color: #6b6a83;
        font-size: 14px;
        margin-left: auto;
        margin-right: 0.5rem;
    }
}
.community-list-img-container {
    position: relative;
    width: 10%;
    margin-left: 0.5rem;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
    .community-list-image {
        border-radius: 50%;
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}
