.login-screen{
  font-family: Nunito;
  width: 100vw; 
  max-height: 100vh;
  overflow: hidden;
  height: 100vh; 
  background-image: url('../images/loginCard.jpg');
  background-size: cover;
  &__overlay{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #211C70;
    opacity: .83;
  }
  img{
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%); 
    z-index: 1000;
  }
  &__btn-container{
    position: fixed;
    bottom: 5%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    padding: 2em; 
    gap: 1.5em; 
    left:0;
    z-index: 10;
    
    .register-btn{
      color: white; 
      background-color: var(--second-color);
    }
  }
}

.auth-btn{
  color: #211C70; 
  font-weight: bold; 
  width: 100%;
  padding: 1em; 
  background-color: white;
  border-radius: 8px;
}

.auth-container{
  font-family: Nunito;
  z-index: 1000;
  position: fixed;
  bottom: -50%; 
  transition: bottom .5s ease-in-out;
  left: 0; 
  width: 100%;
  background-color: white;
  padding:2em; 
  border-radius: 20px 20px 0 0;
  .login{
    display: flex;
    flex-direction: column;
    gap: 2em; 
    align-items: center;
    width: 100%;
    h1{
      color: var(--main-color); 
    }
  }
  button{
    background-color: var(--main-color);
    color: white; 
  }
}

.auth-info{
  display: flex;
  flex-direction: column;
  gap: 1em; 
  width: 100%;
}

.auth-input{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: .5em; 
  span{
    color: var(--main-color); 
    font-weight: bold;
  }
  input{
    background-color: #e6e6e6;
    border: none; 
    outline: none; 
    padding: 1em; 
    border-radius: 8px;

  }
}