header{
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em; 
  h1 {
    font-size: 18px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: var(--second-color);
    
    padding: 0;
  }
  p {
    font-size: 12px;
    font-family: "Nunito";
    text-align: center;
    color: var(--main-color);
    padding: 0;
    strong {
      font-weight: bold;
    }
  }
}

.myProducts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  
  gap: 1em; 
  // background-color: red;
  height: 80%; 
  padding-bottom: 1300px;
  overflow-y: auto;
  

  .cardProduct {
  }
  .cardNewProduct {
  }
}

.my-products-body{
  display: flex;
  flex-direction: column;
  height: 100vh; 
  overflow: hidden;
  // background-color: blue;
}

.my-products-header{
  // flex-grow: 1;
  height: 30% ; 
  // background-color: yellow;
  margin-bottom: 1em;
}

.navBar__container { 
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -29%);
  width: 100%; 
  padding: 0 1em; 
  height: fit-content;
}

.products-footer{
  display: flex;
  flex-direction: column;
  gap: 1em;
  .button{
    width: 100% !important; 
    padding: 1em;
  }
}