header{
  display: flex;
  justify-content: space-between;
  padding: 1.5em 1em; 
  h1 {
    font-size: 18px;
    font-family: "Nunito";
    font-style: normal;
    font-weight: bold;
    text-align: center;
    color: var(--second-color);
    
    padding: 0;
  }
  p {
    font-size: 12px;
    font-family: "Nunito";
    text-align: center;
    color: var(--main-color);
    padding: 0;
    strong {
      font-weight: bold;
    }
  }
}

.myProducts__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1em 0;
  gap: 1em; 
  .cardProduct {
  }
  .cardNewProduct {
  }
}

.navBar__container { 
    
  position: fixed;
  left: 50%;
  bottom: 0px;
  transform: translate(-50%, -50%);
  width: 100%; 
  padding: 0 1em; 
}

.products-footer{
  display: flex;
  flex-direction: column;
  gap: 1em;
  .button{
    width: 100% !important; 
  }
}