.navBar{
    background: var(--main-background);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    font-family: 'Nunito';
    height: 57px;
    width: 327px;
    display: flex;
    align-items: center;
    margin-left: 24px;

    &--flotante{
        position: relative;
        z-index: 0;
    }

    &__home {
        background: url("../images/Casa.svg") no-repeat scroll 0 0 transparent;
        border: var(--main-background);
        cursor: pointer;
        height: 20px;
        padding-bottom: 2px;
        width: 27px;
        margin-left: 45px;
        &:focus {
            background: url("../images/Casa_a.svg") no-repeat scroll 0 0 transparent; 
        }
    }

    &__list {
        background: url("../images/Lista.svg") no-repeat scroll 0 0 transparent;
            border: var(--main-background);
            cursor: pointer;
            height: 20px;
            padding-bottom: 2px;
            width: 27px;
            margin-left: 40px;
            &:focus {
                background: url("../images/Lista_a.svg") no-repeat scroll 0 0 transparent; 
            }
    }

    &__community {
        background: url("../images/Comunidad.svg") no-repeat scroll 0 0 transparent;
            border:  var(--main-background);
            cursor: pointer;
            height: 20px;
            padding-bottom: 2px;
            width: 27px;
            margin-left: 40px;
            &:focus {
                background: url("../images/Comunidad_a.svg") no-repeat scroll 0 0 transparent; 
            }
    }

    &__profile {
        background: url("../images/Perfil.svg") no-repeat scroll 0 0 transparent;
            border:  var(--main-background);
            cursor: pointer;
            height: 20px;
            padding-bottom: 2px;
            width: 27px;
            margin-left: 40px;
            &:focus {
                background: url("../images/Perfil_a.svg") no-repeat scroll 0 0 transparent; 
            }
    }


}