.popUp {
    width: 258px;
    display: flex;
    flex-direction: column;
    background-color: var(--second-background);
    padding: 16px;
    border-radius:var(--border-radius);

    &__title {
        font-family: "Nunito";
        font-style: normal;
        font-weight: bold;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
        color: var(--main-color);
    }

    &__element {
        text-align: center;
        color: var(--second-color);
        margin: 0;
    }
}

.button__popUp {
    width: 258px;
    height: 38px;
    left: 59px;
    top: 277px;
    color: #ffffff;
    background: var(--main-color);
    border-radius: 0px 0px 8px 8px;
}
