.product-card{
    width : 98px;
    min-height : 133px;
    background-color: var(--second-color);
    border-radius: var(border-radius);
    font-family: Nunito;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

    img{
        width: 100%;
        max-height: 90px;
        object-fit: cover;
    }

    &__footer{
        padding: 8px;
        display: flex;
        flex-direction: column;
        color:var(--main-color);
        
        h1{
            font-size: 12px;
            margin: 0;
        }

        span{
            font-size: 8px;
            font-weight: 100;
            margin: 0;
        }
    }
}