.select{
    width: 100px;
    height: 38px;
    background-color: #F2F2F2;
    border-radius: var(--border-radius);
    color: var(--main-color);
    padding-left: 8px;
    border: none;

    font-family: Nunito;    
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
}