*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body{
  box-sizing: border-box;
  margin: 0;
}
.reset-btn {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
}

//TIPOGRAFIAS
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap");
@import "styleGuide";
@import "card";
@import "button";
@import "input";
@import "select";
@import "navBar";
@import "popUp";
@import "statusBar";
@import "item";
@import "card-time";
@import "cardProduct";
@import "cardImg";
@import "cardNewProduct";
@import "radioButton";
@import "productCard";
@import "route";

//screen styles
@import "routeScreen";
@import "doneRoute";
@import "myProductsScreen";
@import "chooseMarket";
@import "categoryScreen"; 
@import "listScreen";
@import "bebidasScreen";º





.subtitle{
  margin: 0;
  font-family: Nunito;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 21px;
  color: #211C70;
  padding-left: 24px;
}
